@media  (max-width:450px) {
    body, html{
        overflow-x: hidden;
    }
    header{
        
    }
    header h1{
        text-align: center;
        font-size: 1.3em;
        
    }
    main{
        display: block;
       
    }
    main h2{
        margin-top: 5px;
    }
    main h1{
        font-size: 1.6em;
    }
    main p{
        font-size: 0.9em;
        line-height: 20px;
    }
    .left h1{
        margin-bottom: 0;
    }
    h2{
        margin-bottom: 0;
    }

    .ringht{
        display: block;
        text-align: center;
        
    }
    img{
        
        
    }
    dv-3, p {
        padding: 10px;
        font-size: 0.9em;
        line-height: 20px;
        
    }
    dv-4, p{
        padding: 10px;

    }
    .icones{
        margin-left: -20px;
        
        
    }

    
}
