@media  (max-width:450px) {
    body, html{
        overflow-x: hidden;
    }
    header{
        
    }
    
    header h1{
        text-align: start;
        font-size: 1em;   
    }
    main h2{
        margin-top: 5px;
       
        
    }
    main h1{
        font-size: 0.7em;
    }
    main p{
        font-size: 0.6em;
        line-height: 15px;
    }
    
    .left h1{
        margin-bottom: 0;
    }
    .left h2{
        margin-bottom: 3px;
        font-size: 0.7em;
        
    }
    img{
       text-align: center;
       width: 350px;
       margin-left: 10px;
       
         
    }
    dv-3, p {
        padding: 10px;
        font-size: 0.6em;
        line-height: 15px;    
    }
    dv-4, p{
        padding: 10px;

    }
    .icones{
        margin-left: -20px;   
    }
    footer{
        display: block;
        font-size: 0.7em;
        
        
    }

    
}
