*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
     overflow-x: hidden;        
}
header{
    width: 100vw;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom,purple,rgb(57, 2, 57));
    color: rgb(30, 201, 244);
    font-size: 2em;
    
}

main{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.left{
    flex: 1;
    width: 390px;
    
    
}
.left h1{
    background-image: linear-gradient(to right,rgb(30, 201, 244),transparent);
    padding: 5px;
    margin-bottom: 10px;

}

h2{
    background-image: linear-gradient(to right,rgb(30, 201, 244),transparent);
    padding: 5px;
    margin-bottom: 10px;

}
a{
    text-decoration: none;
   
    
}

img{
    width:300px;
    border-radius: 5px;   
}
section{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10px;
}
dv-3{
    flex: 1;

}
dv-4{

}
.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: 10vh;
    background-color:rgb(223, 219, 223);
    margin: auto;
    box-shadow: 3px 3px 0px#00000087;
    
    
}

.icone{
    width: 50px;
    margin: 15px;
   
}
nav{
    display: block;
}
nav ul li{
    border: 1px solid purple;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px ;
    margin-bottom: 5px;
    font-size: 0.8em;
    list-style: none;
}
li:hover{
    background-color: rgb(243, 67, 243);
}

footer{
    background-color: black;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}




